#sidebar-multi-level-sidebar {
    transition: 2s;
}

.sidebar {
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #2b9348;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    width: 0;
}

.sidebar a, .sidebar span {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.4rem;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.closebtn {
    cursor: pointer;
}

.openbtn {
    font-size: 1rem;
    cursor: pointer;
    background-color: #2b9348;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #2b9348;
}

#main {
    transition: margin-left 0.5s;
    padding: 20px;
    margin-left: 0;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}